<html>
    <head>
        <title> Data </title>
        
        <script type='text/javascript'>
        var i = 0;
        
        function getData(){
                
                if(i < 100){
                    $.get( "/item/"+i, function(data) {
                    console.log(data);
                    i++;

                    markers = JSON.stringify(data);
                    
                    $('#div').append("<div>"+markers+"</div>");
                    
                    console.log(i);
                    
                    if (i > 20){
                        $("#div").find('div:first').remove();});
                    }

                }
        }
             
       </script>
    </head>
    
    <body>
       <div id="div"> </div>
        <script>
            getData();
            var timeout= setInterval (getData, 500);    
        </script>
        </body>
</html>