<html>
    <head>
        <title> Data Display </title>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>        
       
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type='text/javascript'>
       
        var i = 1;
        var r = 1;
        function getData(){
            if(i < 100){

            var xmlhttp = new XMLHttpRequest();
            var url = "http://localhost:3000/welcome/datasend?Id="+i;
            var myArr;
            
                        
                xmlhttp.onreadystatechange=function()
                 {
                    if (xmlhttp.readyState==4 && xmlhttp.status==200)
                    {
                        
                        var json = eval(xmlhttp.responseText);
                        document.getElementById("div"+r).innerHTML=json[0]["Title"];
                        $("#div"+r).animate({fontSize: '3em'}, "fast");
                        $("#div"+r).animate({fontSize: '1em'}, "slow");
                    }
                }

            xmlhttp.open("GET", url, true);
            xmlhttp.send();
            i++;
            r = (i % 20)+1;
        }
        }
            
      
    </script>
    </head>
    <body>
      Helloooooooooooo
       <div id="div1"> </div>
       <div id="div2"> </div>
       <div id="div3"> </div>
       <div id="div4"> Hellooooooo</div>
       <div id="div5"> </div>
       <div id="div6"> </div>
       <div id="div7"> </div>
       <div id="div8"> </div>
       <div id="div9"> </div>
       <div id="div10"> </div>
       <div id="div11"> </div>
       <div id="div12"> </div>
       <div id="div13"> </div>
       <div id="div14"> </div>
       <div id="div15"> </div>
       <div id="div16"> </div>
       <div id="div17"> </div>
       <div id="div18"> </div>
       <div id="div19"> </div>
       <div id="div20"> </div>
    	Helllooooooooo
    	<script>
           	getData();
            var timeout= setInterval (getData, 500);
                            
        </script>
    </body>
</html>
